body {
  font-size: 1.5rem;
  min-height: 100vh;
  position: relative;
  max-width: 90%;
  margin: auto;
}

.mainContainer {
  padding-bottom: 2rem;
}

.text,
.btn {
  font-family: "Space Mono", monospace;
}

a {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: #847daa;
  text-shadow: 0.05rem 0.05rem#2B254E;
  &:visited {
    color: #847daa;
  }
}
